* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
@font-face {
    font-family: "genty";
    src: url(fonts/GentyDemo-Regular.otf);
}
h1 {
    font-family: "genty";
    font-size: 10vh;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 5vh;
}
body {
background: radial-gradient(rgba(250,238,240, .95), rgba(255,255,255, .75)),
					url(img/ai-generated-8912880_1280.jpg) bottom center / cover;
  /* background-color: #faeef0; */
	font-family: "Lato", serif;
	line-height: 1.75;
	width: auto;
  margin: 0;
  padding: 0;
	padding:
		env(safe-area-inset-top)
		env(safe-area-inset-right)
		env(safe-area-inset-bottom)
		env(safe-area-inset-left);
}
.off-screen-menu {
   background-color: #af090b;
   opacity: .95; 
   height: 100vh;
   width: 100%;
   max-width: 450px;
   position:fixed;
   top: 0;
   right: -450px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 3rem;
   transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
    z-index: 99;
}
nav {
    display: flex;
    padding: 1rem;
}
.ham-menu {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 101;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #254441;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;  
  z-index: 100;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #fff;
    z-index: 3;
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    background-color: #fff;
    z-index: 3;
}
.active-menu {
  font-style: italic;
  text-decoration: underline;
}

header {
    position: relative;
    height: 10vh;
}
header img {
    width: 80px;
    height: 75px;
    margin: 15px;
    position: relative;
    bottom: 3px;
    z-index: 0;
}
header a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
    text-decoration: none;
}
li {
	list-style-type: none;
	padding: 10px 20px;
}
li a {
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 3;   
}
a:hover,
a:focus {
	color: gray;
}
.hero-container {
  height: 70vh;
  width: auto;
  margin-top: 20px;
}
.hero {
    height: 32vh;
}
.hero h1 {
		font-size: 15vh;
	    text-align: center;
	    color: #ffe3e7;
	   	font-family: 'genty', cursive;
        font-weight: 700;
        line-height: 1;
        text-shadow: 
                  12px 7px 2px #f00b0d,
                  0px 0px 5px black;
                  
      /* text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b; */
}
.hero p {
    font-size: 2.5vh;
	    text-align: center;
        height:90vh;
	    color: #f00b0d;
	   	font-family: 'montserrat', cursive;
        font-weight: 700;
        line-height: 1;
}
h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 5vh;
    color: #f00b0d;
    text-align: center;
}
.intro-home {
    height: 55vh;
    display: flex;
}
.btn {
  position: relative;
  width: 185px;
  height: 5vh;
  margin: auto;
  top: -80px;
  right: 0px;
}

 .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  color: #254441;
  border-radius: 30px;
  font-weight: 400;
  font-family: 'montserrat', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
  transform: skewX(45deg);
  transition: 0.5s;
  transition-delay: 0.5s;
}

a:hover::before {
  transform: skewX(45deg) translateX(200%);
  transition-delay: 0s;
}

.btn:hover::before {
  bottom: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn:hover::after {
  top: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.blob {
    position: relative;
}
.intro-home p {
        font-size: 2vh;
	    color: #f00b0d;
	   	font-family: 'montserrat', sans-serif;
        font-weight: 700;
        line-height: 1.75;
        text-align: left;
        margin: 20px;
        
}
.intro-home span {
    font-size: 2vh;
    font-family: "montserrat", sans-serif;
    color: #f00b0d;
    font-style: italic;
}
/* .intro-home img {
    float: right;
    height: 15vh;
    width: auto;
} */
.intro-home img {
    position: absolute;
    height: 100vw;
    width: auto;
    z-index: -1;
}
#AbbySelfie {
    position: relative;
    float: right;
    height: 20vh;
    width: auto;
    z-index: 0;
    

}
.hero-image {
    height: 32vh;
}
.hero-image img {
    height: 30vh;
    width: auto;
    margin: auto;
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
}


/* footer */


.position-relative {
    position: relative;
    margin: 0;
    padding: 0;
    top: 10px;
}

.position-relative-bottom {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0px;
}


.footer {
  position: relative;
  width: 100%;
  background: #1800ad;
  min-height: 100px;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer img {
    height: 10vh;
    width: auto;
    display: flex;
    margin: auto;
    position: relative;
    border: none;
}
.social-icon,
.menu-socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  margin-top: 40px;
  flex-wrap: wrap;
  padding: 0;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.social-icon li {
    padding: 0px 5px;
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .home-header {
      height: 110vh;
    }
    nav {
        display: none;
	}
    .off-screen-menu {
      background: none;
        font-size: 16px;
        right: 0px;
        height: 110px;
        width: auto;
        text-transform: uppercase;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        z-index: 10;
    }
	ul {
        display: flex;
        margin-right: 150px;
    }
    .off-screen-menu ul li a {
        color: #254441;
    }
    .off-screen-menu ul li a:hover,
    .off-screen-menu ul li a:focus {
	    color: gray;
      z-index: 99;
    }
    .hero-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
    }
}